<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>${DL_DRIVER_ID}${DL_DRIVER_NAME_SUFFIX}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${DL_PRODUCT_VERSION}</string>
	<key>CFBundleShortVersionString</key>
	<string>${DL_PRODUCT_VERSION}</string>
	<key>CFBundleGetInfoString</key>
	<string>${PRODUCT_NAME} (${DL_PRODUCT_TITLE}) ${DL_PRODUCT_VERSION}.${DL_PRODUCT_REVISION}</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (C) 2009 Slava Imameev.</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>DeviceLockIPCDriver</key>
		<dict>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOProviderClass</key>
			<string>com_devicelock_driver_DeviceLockIOKitDriver</string>
			<key>IOClass</key>
			<string>com_devicelock_driver_DeviceLockIPCDriver</string>
		</dict>
		<key>DeviceLockIOKitDriver</key>
		<dict>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>DldParameters</key>
			<dict>
				<key>LogFilePath</key>
				<string>${DL_LOG_PATH}/DLDriverLog</string>
				<key>LogErrors</key>
				<true/>
				<key>LogFlags</key>
				<dict>
					<key>COMMON</key>
					<false/>
					<key>QUIRKS</key>
					<true/>
					<key>SCSI</key>
					<false/>
					<key>DVD_WHITE_LIST</key>
					<false/>
					<key>WHITE_LIST</key>
					<true/>
					<key>ACL_EVALUATUION</key>
					<false/>
					<key>ACCESS_DENIED</key>
					<true/>
					<key>FILE_VAULT</key>
					<false/>
					<key>POWER_MANAGEMENT</key>
					<false/>
					<key>DEVICE_ACCESS</key>
					<false/>
					<key>NET_PACKET_FLOW</key>
					<false/>
				</dict>
			</dict>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOClass</key>
			<string>com_devicelock_driver_DeviceLockIOKitDriver</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.devicelock.agent.privatedriver</key>
		<string>${DL_PRODUCT_VERSION}</string>
		<key>com.apple.iokit.IOSCSIArchitectureModelFamily</key>
		<string>2.1.1</string>
		<key>com.apple.kpi.unsupported</key>
		<string>9.8.0</string>
		<key>com.apple.kpi.dsep</key>
		<string>9.8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.8.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>9.8.0</string>
	</dict>
</dict>
</plist>
